/* Header */
header{
    background: #2d7a8a;
    grid-area: header;
    height: 70px;
    padding: 5x;
}
img{
    height: 43px;
}

/* Header fim */

/*Nav  */
nav{
background-color: aqua;
grid-area: nav;
}

a{
    display: flex;
    
}
/*Nav Fim  */

/* Main inico*/
main{
    background-color: blueviolet;
    grid-area: main;
}
/* Main fim */

/* Footer  */
footer{
    grid-area: footer;
    background-color: black;
}

/*  */

/* Template padrão Grid */
.container{
    display: grid;
    grid-template-columns: 0.5fr 3fr; 
    grid-template-rows: 10vh 80vh 20vh;
    grid-template-areas: "header header" 
                        " nav main"
                        "nav main";
}

/* 29808e = azul
72de92 = verde

