/* Header */
header{
    background: #2d7a8a;
    grid-area: header;
    height: 62px;
}


.sair_btn{
    padding: 5px;
    background: #51b3ec;
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
   
}
img{
    height: 43px;
    height: 50px;
}


/* Header fim */

/*Nav  */
nav{
background-color: #72de92;
grid-area: nav;
}
nav a{
     margin-top: 5px; 
    padding-top: 30px;
    padding-left: 20px;
    left: 0;
    /* background: #72de92; */
    transition: 0.5s;
    transition-property: left;
}

 a{
    color: #fff;
    display: block;
  
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property:background ;
}

nav ion-icon{
    padding-right: 5px;
}

a{
    display: flex;
    
}
/*Nav Fim  */

/* Main inico*/
main{
    /* background-color: ; */
    grid-area: main;
}
/* Main fim */

/* Footer  */
footer{
    grid-area: footer;
    background-color: black;
}

/*  */

/* Template padrão Grid */
.container{
    display: grid;
    grid-template-columns: 0.5fr 3fr; 
    grid-template-rows: 10vh 70vh 20vh;
    grid-template-areas: "header header" 
                        " nav main"
                        "nav main";
}

/* 29808e = azul
72de92 = verde

